<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="admin" route_prefix="aiconnect-pro" sub_name="check" format="license/check/" controller="chgold\AIConnectPro:License" context="aiConnectProLicense" action_prefix="check"/>
  <route route_type="admin" route_prefix="aiconnect-pro" sub_name="license" format="license/" controller="chgold\AIConnectPro:License" context="aiConnectProLicense"/>
</routes>
